# Global owner
*                       @mpspahr

# Workflow files
.github/workflows/*     @mpspahr

# Package files
package.json            @mpspahr
package-lock.json       @mpspahr

# Source code
src/*                   @mpspahr
tests/*                 @mpspahr