version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
      day: "friday"
      time: "21:00"
    open-pull-requests-limit: 3
    assignees:
      - "mpspahr"
    labels:
      - "actions"
    commit-message:
      prefix: "chore(actions):"
    groups:
      github-actions:
        patterns:
          - "*"
