# Ignore development, test, and config files not needed in the npm package
node_modules
.prettierignore
.prettierrc
eslint.config.mjs
.github/
.gitignore
.npmignore
.vscode/
test/
tsconfig.json
typedoc.json
src/
tests/
jest.config.mjs
SECURITY.md