name: Test Suite

permissions:
  contents: read
  pull-requests: read

on:
  workflow_call:
    inputs:
      username:
        required: true
        type: string
    secrets:
      password:
        required: true
  workflow_dispatch:
    inputs:
      username:
        description: "Username for Mailpit"
        required: false
        type: string
  pull_request:
    branches: ["main"]
    types: [opened, synchronize, reopened]
    paths-ignore:
      - "**.md"
      - ".github/**"
      - "!.github/workflows/**"
  push:
    branches: ["main"]
    paths-ignore:
      - "**.md"
      - ".github/**"
      - "!.github/workflows/**"

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        node-version: [18, 20, 22, 24] # legacy, maintenance, lts, current
    name: Node ${{ matrix.node-version }} Test
    env:
      USERNAME: ${{ inputs.username || github.event.inputs.username || github.actor }}
      PASSWORD: ${{ secrets.password || secrets.MP_PASSWORD }}
    services:
      mailpit:
        image: axllent/mailpit
        env:
          MP_ENABLE_SPAMASSASSIN: postmark
          MP_ENABLE_CHAOS: true
          MP_UI_AUTH: ${{ format('{0}:{1}', env.USERNAME, env.PASSWORD) }}
        ports:
          - 8025:8025
          - 1025:1025
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"
      - run: npm ci
      - name: Run All Tests
        run: npm run test
      - name: Upload coverage to Codecov
        if: matrix.node-version == 22 &&  (github.event_name == 'pull_request' && github.actor != 'dependabot[bot]') || github.ref == 'refs/heads/main'
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
